/*Asterisk wildcard selector to overwrite styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: rgb(12, 86, 12);

}

/* Header*/
header {
    background-color: red;
}

/* Main content */
main {
    background-color: yellow;
    /*Make main element teake any free space to push footer down*/
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: green;
}