/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*Asterisk wildcard selector to overwrite styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: rgb(4, 35, 4);
    font-family: 'Ubuntu', sans-serif;

}

h1,
h2,
h3 {
    text-transform: none;
    letter-spacing: 2px;
}

/* Header*/
header {
    background-color: #a9d2cc;
    padding: 0.5rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rgb(4, 35, 4);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgb(4, 35, 4);
}



#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

.active {
    border-bottom: 2px solid white;
}

#menu>li {
    margin-bottom: 0.1em;
}

/* Navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #a9d2cc;

    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rgb(4, 35, 4);
    width: 100%;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px 1px rgb(4, 35, 4);
}


/* Main content */
main {

    /*Make main element teake any free space to push footer down*/
    flex: 1 0 auto;
    margin-top: 53px;
}

/*Hero section*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-pixabay-355863.jpg") no-repeat center center/cover;
    position: relative;

}

#cover-text {
    background-color: rgba(236, 116, 69, .7);
    font-size: 160%;
    width: 60%;
    text-align: center;
    padding: 1rem;
    min-width: 200px;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}

#cover-text>h2,
#cover-text>h3 {
    color: white;
    text-shadow: 1px 1px 1px rgb(4, 35, 4);

}

.intro {
    width: 80%;
    margin: 20px auto;
}

.intro h2 {
    text-align: center;
}

.intro h3 {
    text-align: center;
}

.intro div {
    padding: 20px;
}

#why-do-list {
    list-style: none;
    text-align: center;
}

#contact {
    bottom: 48.5px;
    text-align: center;
}

h3 a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}


h3 a:hover {
    color: #b82677;
}

/* Gallery page */
#photos img {
    width: 100%;
    line-height: 1em;
    border: 2px solid #a9d2cc;
    border-radius: 10px;

}

#photos {
    line-height: 0;

}



/* Footer */


#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

    background-color: #a9d2cc;
    box-shadow: 0 -2px 2px rgb(4, 35, 4);

}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
    text-shadow: 1px 1px 1px rgb(4, 35, 4);
}

/*Media query: large or langscape phones 576px and up */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0px;
    }
}

/*Media query: tablets and larger 768px and up */
@media screen and (min-width: 768px) {

    /*Header*/
    nav {
        display: block;
        box-shadow: none;
        position: relative;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*main content*/
    main {
        margin-top: 91px;
    }

    /* Gallery */
    #photos {
        column-count: 3;
        column-gap: 0;
    }

}

/*Media query: laptops and larger 992px and up */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid white;
    }

    .intro {
        max-width: 45%;
    }


}